.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #AA6817;
    cursor: pointer;
    outline: none;
}

.BuildControl button:disabled {
    background-color: #AC9980;
    border: 1px solid #7E7365;
    color: #ccc;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.BuildControl .Less {
    border-radius: 2px;
    background: #D39952;
    box-shadow:  4px 4px 5px #986e3b,
    -4px -4px 5px #ffc469;
    color: white;
}

.BuildControl .More {
    border-radius: 2px;
    background: #8F5E1E;
    box-shadow:  4px 4px 5px #674416,
    -4px -4px 5px #b77826;
    color: white;
}

.BuildControl .Less:hover, .BuildControl .Less:active {
    border-radius: 2px;
    background: #DAA972;
    box-shadow: inset 4px 4px 5px #9d7a52,
    inset -4px -4px 5px #ffd892;
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    border-radius: 2px;
    background: #99703F;
    box-shadow: inset 4px 4px 5px #6e512d,
    inset -4px -4px 5px #c48f51;
    color: white;
}